<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="mt-5">Tuğba AYDIN YAKAN</h2>
                    <p class="lead">05462825451</p>
                    <p>
                        <a href="https://github.com/tugba-aydin/bitlo-case" target="_blank">Projeye Github üzerinden
                            ulaşmak için tıklayınız.</a></p>
                    <p>
                        <a href="https://serene-bienenstitch-9defa1.netlify.app/" target="_blank">Projeye Netlify
                            üzerinden ulaşmak için tıklayınız.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>