<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-signin" [formGroup]="loginForm">
                        <label for="inputEmail" class="sr-only">Kullanıcı Adı</label>
                        <input type="email"  id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required=""
                            autofocus="">
                        <label for="inputPassword" class="sr-only mt-2">Şifre</label>
                        <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password"
                            required="">
                        <button class="btn btn-md btn-primary btn-block mt-3" type="submit" (click)="login()">Giriş Yap</button>
                    </form>
                    <p *ngIf="isFormNull">Lütfen gerekli alanları doldurunuz.</p>
                    <p *ngIf="isFalseInformation">Kullanıcı adı ya da parola yanlış.</p>
                    <p *ngIf="loginForm.get('email').errors?.['email']">Lütfen geçerli bir e-posta adresi giriniz</p>
                </div>
            </div>
        </div>
    </div>
</div>