<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-light py-3" href="#">
        <img src="https://www.bitlo.com/assets/static/img/bitlo_logo_white_@2x.png" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-light" href="/" aria-current="page" >Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/marketler" aria-current="page">Marketler</a>
          </li>
        </ul>
        <span class="d-flex">
          <a *ngIf="!isLogged()" href="/login" class="dropdown-item text-light" type="submit">Giriş Yap</a>
          <a *ngIf="isLogged()" href="/logout" class="dropdown-item text-light" type="submit">Çıkış Yap</a>
        </span>
      </div>
    </div>
  </nav>